<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="iptv.channels_uri" default="plugin://plugin.video.yelo/iptv/channels" visible="false"/>
    <setting type="bool" id="iptv.enabled" default="true" visible="false" />
    <setting id="iptv.epg_uri" default="plugin://plugin.video.yelo/iptv/epg" visible="false"/>

    <category label="32000">
        <setting label="32001" type="text" id="username" default=""/>
        <setting label="32002" type="text" id="password" default="" option="hidden"/>
    </category>

    <category label="31998">
        <setting label="31999" type="bool" id="epg" default="false"/>
    </category>

    <category label="32016"> <!-- Expert -->
        <setting label="32017" type="action" id="ishelper_info" action="RunScript(script.module.inputstreamhelper, info)"/>
        <setting label="32018" type="action" id="adaptive_settings" option="close" action="Addon.OpenSettings(inputstream.adaptive)" visible="System.HasAddon(inputstream.adaptive) + [String.StartsWith(System.BuildVersion,18) | String.StartsWith(System.BuildVersion,19)]"/>
        <setting label="32019" type="action" id="ishelper_settings" option="close" action="Addon.OpenSettings(script.module.inputstreamhelper)"/>
    </category>
</settings>

